<div class="container mt-3">
  <h3><%= @compet.name %></h3>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>ชื่อ</th>
        <th>หมายเลขเป้า</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Score 3</th>
        <th>Score 4</th>
        <th>Score 5</th>
        <th>Score 6</th>
        <th>Score 7</th>
        <th>X + 10</th>
        <th>X</th>
        <th>10</th>
        <th>9</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each_with_index do |game, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= game.player_name %></td>
          <td><%= game.target_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
