 <% competition.games.sorted_games.each_slice(10).with_index do |games, slice_index| %>
<div>
  <h4 class="text-center"><%= render_compet_name(competition) %></h4>
  <table class="table table-striped" id="score-table">
    <thead class="table-inverse table-<%= competition.range%>">
      <tr>
        <th>อันดับ</th>
        <th>ชื่อ</th>
        <th>หมายเลขเป้า</th>
        <th>คะแนนรวม</th>
        <% if competition.ten_set? %>
          <th>10</th>
          <th>9</th>
        <% else %>
          <th>X + 10</th>
          <th>X</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% games.each.with_index(1) do |game, index| %>
        <%= render partial: 'ranking', locals: { index: index + (10 * slice_index), game: game, competition: competition} %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
