<div class="container slider">
  <% @competitions.each do |competition| %>
    <%= render partial: 'qualification', locals: { competition: competition } if competition.score_type == 'qualification'%>
  <% end %>
</div>
