<div class="container slider">
  <% @competitions.each do |competition| %>
    <div>
      <%= render partial: 'qualification', locals: { competition: competition } if competition.score_type == 'qualification'%>
      <%= render partial: 'final', locals: { competition: competition} unless competition.score_type == 'qualification'%>
  </div>    
    <% end %>
</div>
