<div class="container slider">
  <% @competitions.each.with_index do |competition, index| %>
    <%= render partial: 'qualification', locals: { competition: competition, color_index: index } %>
  <% end %>
</div>
