/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import "register_player";
@import "score";
@import "competition";
@import "game";

body {
  font-size: 1rem;
}

@media screen and (min-width: 768px){
  .container { 
    width: 100%;
  }

  body {
    font-size: 2.5rem;
    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }   
    h3 {
      font-size: 3.5rem;
    }
    h4  {
      font-size: 3rem;
      margin-bottom: 2rem;
    }  
    .btn {
      font-size: 2.5rem;
      padding: 1rem 1.5rem;
    }   
  }
}
.flash {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.notice {
  background: lightgreen;
}
.error {
  background: lightsalmon;
}
