.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.grey {
  background-color: grey;
}

.brown {
  background-color: brown;
}

.yellow {
  background-color: yellow;
}

.cyan {
  background-color: cyan;
}
